<div>
    <h1 ng-if="started_trial===true">Trial {{trial_num}}</h1>
    <h1 ng-if="started_trial===false">Pre-Trial {{trial_num + 2}}</h1>
    <p>For every trial after the two pre-trial letters, you will have to decide whether or not the current letter appeared two letters previously. There will be 40 trials.</p>
    <p></p>
    <p>{{current_letter}}</p>
	<button ng-if="started_trial===true" ng-click="advance('match')">Match</button>
	<button ng-if="started_trial===true" ng-click="advance('nomatch')">Doesn't Match</button>
	<button ng-if="started_trial===false" ng-click="advance('next')">Next</button>
</div>